<!--  <% if logged_in? %>
<p class="navbar-text navbar-left">Signed in as <a href="#" class="navbar-link">current_user.username.capitalize</a></p>
# <% else %>
<p class="navbar-text navbar-left">Signed in as <a href="#" class="navbar-link">Guest</a></p>
# <% end %> -->

<p class="navbar-text navbar-left">Signed in as <a href="#" class="navbar-link"> <% if logged_in? %><%= current_user.username.capitalize %><% else %>Guest<% end %></a></p>